@inherits LayoutComponentBase



<RadzenComponents />


<div class="page">
    <main>
        <RadzenLayout>
            <RadzenHeader>
                <AuthorizeView>
                    <Authorized>
                        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="3">
                            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
                            <RadzenBadge Style="background-color:#e75425;">
                                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.25rem">
                                    <RadzenIcon Icon="account_box" />Welcome @DisplayName
                                </RadzenStack>
                            </RadzenBadge>
                            <RadzenStack AlignItems="AlignItems.Center" Class="rz-mx-auto rz-my-0">
                                University Management System
                            </RadzenStack>
                        </RadzenStack>
                    </Authorized>
                </AuthorizeView>
            </RadzenHeader>

            <AuthorizeView Roles="Super Admin,Admin">
                <Authorized Context="adminContext">
                    <RadzenPanelMenuItem Text="Course Management" Icon="apps" Path="/CourseManagement/CoursesList" />
                    <RadzenPanelMenuItem Text="Student Management" Icon="apps" Path="/StudentManagement/StudentList" />
                </Authorized>
            </AuthorizeView>

            <AuthorizeView Roles="Student">
                <Authorized Context="studentContext">
                    <RadzenPanelMenuItem Text="My Dashboard" Icon="apps" Path="/Dashboard/StudentDashboard" />
                </Authorized>
            </AuthorizeView>


            <RadzenBody Style="padding-left:10px;">
                <ErrorBoundary>
                    <ChildContent>
                        @Body
                    </ChildContent>
                </ErrorBoundary>
            </RadzenBody>

            <RadzenFooter Style="height:48px">
                <RadzenText TextStyle="TextStyle.Body1" TextAlign="TextAlign.Center">
                    University Management System © 2023 All Rights Reserved
                </RadzenText>
            </RadzenFooter>
        </RadzenLayout>
    </main>
</div>


@code {
    public string? DisplayName { get; set; } = string.Empty;
    bool sidebarExpanded = true;

    private async Task Logout()
    {
    }
}