<div style="display: flex; justify-content: center; margin-top: 20px;">
    <RadzenProgressBarCircular ProgressBarStyle="ProgressBarStyle.Info" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
</div>